{% load static %}
<header class="header clearfix element_to_stick">
    <div class="container">
        <div id="logo">
            <a href="{% url 'index' %}">
                <img src="{{ setting.logo.url }}" width="10%" alt="{{ setting.title }}" class="logo_normal">
                <img src="{{ setting.logo.url }}" width="10%" alt="{{ setting.title }}" class="logo_sticky">
            </a>
        </div>
        <div class="layer"></div><!-- Opacity Mask Menu Mobile -->
        <ul id="top_menu">
            <li><a href="#sign-in-dialog" id="sign-in" class="login">Проблема</a></li>
            <li><a href="#0" class="wishlist_bt_top" title="Your wishlist">Корзина</a></li>
        </ul>
        <!-- /top_menu -->
        <a href="#0" class="open_close">
            <i class="icon_menu"></i><span>Menu</span>
        </a>
       <nav class="main-menu">
            <div id="header_menu">
                <a href="#0" class="open_close">
                    <i class="icon_close"></i><span>Menu</span>
                </a>
                <a href="{% url 'index' %}"><img src="{{ setting.logo.url }}" width="20%" alt="{{ setting.title }}"></a>
            </div>
            <ul>
                <li class="submenu">
                    <a href="{% url 'index' %}" class="show-submenu">Главная</a>
                    
                </li>
                <li class="submenu">
                    <a href="{% url 'index' %}" class="show-submenu">Еда</a>
                    
                </li>
                <li class="submenu">
                    <a href="{% url 'index' %}" class="show-submenu">Отзывы</a>
                </li>
                <li>
                    <a href="{% url 'index' %}" target="_parent">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
</header>