<!-- sales/templates/admin/sale_summary_change_list.html -->
{% extends "admin/change_list.html" %}
{% load humanize %}

{% block content_title %}
    <h1> Sales Summary </h1>
{% endblock %}

{% block result_list %}
    <!-- Our content goes here... -->
    <div class="results">
        <table>
    
        <thead>
          <tr>
            <th>
              <div class="text">
                <a href="#">Название</a>
              </div>
            </th>
            <th>
              <div class="text">
                <a href="#">Количество</a>
              </div>
            </th>
            <th>
              <div class="text">
                <a href="#">Цена</a>
              </div>
            </th>
            <th>
              <div class="text">
                <a href="#">
                  <strong>% процент от продаж</strong>
                </a>
              </div>
            </th>
          </tr>
        </thead>
    
        <tbody>
          {% for row in summary %}
          <tr class="{% cycle 'row1' 'row2' %}">
            <td> {{ row.title }} </td>
            <td> {{ row.total  }} </td>
            <td> {{ row.total_sales  }} KGS</td>
            <td>
              <strong>{{ row.total_sales }}%</strong>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

<h2 style="margin-top: 10px;"> Проценты продаж </h2>
    
<!-- <style>
    h2 {
        margin-top: 10px;
    }

    .results {
        margin-top: 20px;
    }

    .bar-chart {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .bar {
        background-color: #0074d9;
        width: 30px;
        margin: 0 5px;
        position: relative;
    }

    .bar-tooltip {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        display: none;
    }

    .bar:hover .bar-tooltip {
        display: block;
    }
</style> -->

<div class="results">
    <div class="bar-chart">
    {% for x in summary_over_time %}
    <!-- <h1>{{x.pct}}</h1>
    <h1>{{ x.total | default:0 | intcomma }}</h1>
    <h1>{{x.period | date:"d/m/Y"}}</h1>  -->
        <div class="bar">
            <div class="bar-tooltip" style="height: {{ x.pct }}%;"> <!-- Преобразование в проценты -->
                {{x.total | default:0 | intcomma }}<br>
                {{x.period | date:"d/m/Y"}}
            </div>
        </div>
    {% endfor %}
    </div>
</div>


{% endblock %}

{% block pagination %}{% endblock %}