<!-- sales/templates/admin/sale_summary_change_list.html -->
{% extends "admin/change_list.html" %}
{% load humanize %}

{% block content_title %}
    <h1> Sales Summary </h1>
{% endblock %}

{% block result_list %}
    <!-- Our content goes here... -->
    <div class="results">
        <table>
    
        <thead>
          <tr>
            <th>
              <div class="text">
                <a href="#">Название</a>
              </div>
            </th>
            <th>
              <div class="text">
                <a href="#">Количество</a>
              </div>
            </th>
            <th>
              <div class="text">
                <a href="#">Цена</a>
              </div>
            </th>
            <th>
              <div class="text">
                <a href="#">
                  <strong>Тип оплаты</strong>
                </a>
              </div>
            </th>
          </tr>
        </thead>
    
        <tbody>
          {% for row in summary %}
          <tr class="{% cycle 'row1' 'row2' %}">
            <td> {{ row.title }} </td>
            <td> {{ row.total  }} </td>
            <td> {{ row.total_sales  }} KGS</td>
            <td>
              <strong>{{ row.payment_method }}</strong>
            </td>
          </tr>
          {% endfor %}
          <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
            <td> Итого: {{ summary_total.payment_method  }}</td>
            <td> {{ summary_total.total | intcomma }} </td>
            <td> {{ summary_total.total_sales | default:0 }} KGS</td>
            <td> {{ summary_total.payment_method  }} </td>
        </tr>
        </tbody>

      </table>

    </div>

<!-- <h2 style="margin-top: 10px;"> Отчет продажи товара </h2> -->
    
{% endblock %}

{% block pagination %}{% endblock %}