<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MG ORGANICS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/libs/jquery-ui-1.13.2.custom/jquery-ui.min.css" rel="stylesheet" type="text/css">
        <link href="assets/libs/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="assets/libs/fontawesome-free-6.2.1-web/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="assets/libs/slick-1.8.1/slick/slick.css" rel="stylesheet" type="text/css">
        <link href="assets/css/mg-menu.css" rel="stylesheet" type="text/css">
        <link href="assets/css/style.css" rel="stylesheet" type="text/css">
        <link href="assets/css/responsive.css" rel="stylesheet" type="text/css">

        <script src="assets/js/jquery-3.6.1.min.js"></script>
        <script src="assets/libs/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
        <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
        <script src="assets/libs/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
        <script src="assets/libs/slick-1.8.1/slick/slick.min.js"></script>

    </head>
    <body>
        <!--MG Header Start Here-->
        <header>
            <div class="mg-header-outer mg-page-header">
                <div class="container">
                    <div class="mg-home-header">
                        <div class="row gx-0 gx-md-2 align-items-center">
                            <div class="col-md-3 col-lg-3 col-4">
                                <div class="header-logo">
                                    <a class="mg-logo text-decoration-none" href="index.html"><span>MG</span> ORGANICS</a>
                                </div>
                            </div>
                            <div class="col-md-2  col-lg-5 col-2 order-3 order-md-0 d-flex d-md-block justify-content-end justify-content-md-start text-end">
                                <div>
                                    <div class="mg-menu-overlay"></div>
                                    <nav class="mg-menu" id="menu">
                                        <div class="menu-mobile-header">
                                            <button type="button" class="menu-mobile-arrow"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                            <div class="menu-mobile-title"></div>
                                            <button type="button" class="menu-mobile-close"><i class="fa fa-times" aria-hidden="true"></i></button>
                                        </div>
                                        <ul class="menu-section mg-menu-outer">
                                            <li class="menu-item-has-children">
                                                <a class="active-menu-light" href="javascript:void(0);">Home <img src="assets/images/icons/home3/dropdown-cut-arrow-light.png" alt=""></a>
                                                <div class="mg-sub-menu-outer">
                                                    <div class="menu-subs">
                                                        <ul>
                                                            <li>
                                                                <a href="index.html">Home 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="home2.html">Home 2</a>
                                                            </li>
                                                            <li>
                                                                <a href="home3.html">Home 3</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="javascript:void(0);">Groceries <img class="mg-desktop-arrow" src="assets/images/icons/Drop-down-arrow-light.svg" alt=""><img class="mg-mobile-arrow" src="assets/images/icons/Drop-down-arrow.svg" alt=""></a>

                                                <div class="mg-sub-menu-outer">
                                                    <div class="menu-subs">
                                                        <ul>
                                                            <li>
                                                                <a href="shop.html">Fruits & Vegetables</a>
                                                                <img src="assets/images/gallery/menu-hover-img4.jpg" alt="">
                                                            </li>
                                                            <li>
                                                                <a href="beverages.html">Beverages</a>
                                                                <img src="assets/images/gallery/menu-hover-img2.jpg" alt="">
                                                            </li>
                                                            <li>
                                                                <a href="meat.html">Meat & Seafoods</a>
                                                                <img src="assets/images/gallery/menu-hover-img5.jpg" alt="">
                                                            </li>
                                                            <li>
                                                                <a href="bakery.html">Bakery</a>
                                                                <img src="assets/images/gallery/menu-hover-img1.jpg" alt="">
                                                            </li>
                                                            <li>
                                                                <a href="snacks.html">Biscuit & Snacks</a>
                                                                <img src="assets/images/gallery/menu-hover-img3.jpg" alt="">
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="javascript:void(0);">Pages <img class="mg-desktop-arrow" src="assets/images/icons/Drop-down-arrow-light.svg" alt=""><img class="mg-mobile-arrow" src="assets/images/icons/Drop-down-arrow.svg" alt=""></a>
                                                <div class="mg-sub-menu-outer">
                                                    <div class="menu-subs">
                                                        <ul>
                                                            <li class="mg-shop-page-main-link">
                                                                <a href="shop.html">Collection</a>
                                                                <div class="mg-cascading-menu-outer">
                                                                    <div class="mg-cascading-menu">
                                                                        <ul>
                                                                            <li>
                                                                                <a href="shop.html">Left Sidebar</a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="shop-style-2.html">Right Sidebar</a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="shop-style-4.html">Horizontal Filter</a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="shop-style-3.html">Off Canvas</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li><a href="single-product.html">Product</a></li>
                                                            <li><a href="cart.html">Cart</a></li>
                                                            <li><a href="checkout.html">Checkout</a></li>
                                                            <li><a href="thank-you.html">Thank you</a></li>
                                                            <li><a href="profile.html">Profile Page</a></li>
                                                            <li><a href="my-orders.html">My orders</a></li>
                                                            <li><a href="wishlist.html">Wishlist</a></li>
                                                            <li><a href="blogs.html">Blogs</a></li>
                                                            <li><a href="single-blog.html">Single blogs</a></li>
                                                            <li><a href="about-us.html">About us</a></li>
                                                            <li><a href="contact-us.html">Contact Us</a></li>
                                                            <li><a href="privacy-policy.html">Privacy policy</a></li>
                                                            <li><a href="my-account.html">My Account</a></li>
                                                            <li><a href="login.html">Login/Register</a></li>
                                                            <li><a href="faq.html">FAQs</a></li>
                                                            <li><a href="404.html">404 page</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="menu-item mg-mobile-menu-link">
                                                <a href="login.html">
                                                    Profile
                                                </a>
                                            </li>
                                            <li class="menu-item mg-mobile-menu-link">
                                                <a href="wishlist.html">
                                                    Wishlist
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <div>
                                        <button type="button" class="menu-mobile-toggle mg-burger-menu-icon">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-6 text-end">
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-4 col-md-4 p-0">
                                        <div class="">
                                            <div class="mg-contact-link">
                                                <a href="contact-us.html">Connect with us<img src="assets/images/icons/Right-arrow.svg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-8 col-md-8">
                                        <div class="header-icons-outer">
                                            <ul>
                                                <li>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#mg-desktop-search-popup">
                                                        <img class="mg-desktop-icons" src="assets/images/icons/serach-icon-new.png" alt="">
                                                        <img class="mg-hover-icon" src="assets/images/icons/hover-serach-icon-new.png" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="mg-mobie-hide-icon" href="login.html">
                                                        <img class="mg-desktop-icons" src="assets/images/icons/Profile-icon.svg" alt="">
                                                        <img class="mg-hover-icon" src="assets/images/icons/hover-profile-icon.png" alt="">
                                                    </a>
                                                </li>
                                                <li class="mg-mobie-hide-icon">
                                                    <a class="mg-notify-count" href="wishlist.html">
                                                        <img class="mg-desktop-icons" src="assets/images/icons/heart-new.png" alt=""><span class="mg-header-icon-counter">2</span>
                                                        <img class="mg-hover-icon" src="assets/images/icons/hover-heart-new.png" alt="">
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="mg-notify-count" href="cart.html">
                                                        <img class="mg-desktop-icons" src="assets/images/icons/Cart-Icon.svg" alt=""><span class="mg-header-icon-counter">0</span>
                                                        <img class="mg-hover-icon" src="assets/images/icons/hover-Cart-Icon.png" alt="">
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--MG Header End Here-->
        <!-- desktop Search Pop Up start here -->
        <div class="modal gx-0 fade mg-search-pop-up mg-desktop-search-popup" id="mg-desktop-search-popup" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen" >
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close mg-pop-up-close-btn" data-bs-dismiss="modal" aria-label="Close">
                            <span class="mg-spcb-bar-one"></span>
                            <span class="mg-spcb-bar-two"></span>
                        </button>
                    </div>
                    <div class="modal-body align-items-center d-flex">
                        <div class="mg-search-pop-form-outer w-100">
                            <div class="search-heading"></div>
                            <form class="">
                                <input class="form-control" type="text" placeholder="What do you need..." aria-label="Search">
                                <div class="text-center"><button class="btn" type="submit">Search</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Desktop Search Pop Up End Here -->
        <!--page header section start here-->
        <div class="mg-page-header-section">
            <div class="container">
                <div class="mg-page-header-content">
                    <div>
                        <h5>My Account</h5>
                        <p>Lorem ipsum dolor sit amet consectetur. Condimentum sed sed blandit purus nec nibh tortor ipsum.</p>
                    </div>
                    <div class="mg-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a class="text-decoration-none" href="index.html">Home</a></li>
                                <li class="breadcrumb-item active">My Account</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!--page header section end here-->
        <!--my account content section start here-->
        <div class="mg-account-section">
            <div class="container">
                <!--top info start here-->
                <div class="mg-ma-top-info-box">
                    <div class="mg-ma-info">
                        <div><span>Hello <a href="javascript:void(0);">jonathansmith@gmail.com</a></span></div>
                        <div><span>(Not <a href="javascript:void(0);">jonathansmith@gmail.com</a>? <a href="login.html">Logout</a>)</span></div>
                    </div>
                    <div class="mg-ma-info">
                        <div><span>Need Assistance? Customer service at.</span></div>
                        <div><span>info@mgorganics.com.</span></div>
                    </div>
                    <div class="mg-ma-info">
                        <div><span>E-mail them at</span></div>
                        <div><span>support@mgorganics.com</span></div>
                    </div>
                </div>
                <!--top info end here-->
                <!--account info section start here-->
                <div class="mg-my-account-info-main">
                    <div class="row">
                        <!--info list section start here-->
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="mg-ma-info-list">
                                <ul>
                                    <li><a href="my-account.html">Orders</a></li>
                                    <li><a class="mg-list-active" href="my-account-address.html">Addresses</a></li>
                                    <li><a href="my-account-details.html">Account details</a></li>
                                    <li><a href="login.html">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--info list section end here-->
                        <!--my account info list details start here-->
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <div class="mg-address-main-box">
                                <!--new address field section start here-->
                                <div class="mg-new-address">
                                    <span>Add a new address</span>
                                    <span><a href="javascript:void(0);"><i class="fa-solid fa-plus"></i></a></span>
                                </div>
                                <!--new address field section end here-->
                                <!--Address details section start here-->
                                <div class="mg-ma-address-deatils">
                                    <div class="mg-ma-details-top">
                                        <span>Jonathan Smith</span>
                                        <span class="mg-custom-badge">Office</span>
                                    </div>
                                    <div class="mg-ma-details-bottom">
                                        <div>
                                            <span>Phone No. <a href="tel:+9123456789">+(1) 234 567 8900</a></span>
                                        </div>
                                        <address>7 Pawnee Street Lawrence Township, NJ 08648 <span><a class="mg-edit-remove-link" href="my-account-details.html">Edit |</a><a class="mg-edit-remove-link mg-remove-btn" href="javascript:void(0);">Remove</a></span></address>
                                       
                                    </div>
                                </div>
                                <div class="mg-ma-address-deatils">
                                    <div class="mg-ma-details-top">
                                        <span>Jonathan Smith</span>
                                    </div>
                                    <div class="mg-ma-details-bottom">
                                        <div>
                                            <span>Phone No. <a href="tel:+9123456789">+(1) 234 567 8900</a></span>
                                        </div>
                                        <address>7 Pawnee Street Lawrence Township, NJ 08648 <span><a class="mg-edit-remove-link" href="my-account-details.html">Edit |</a><a class="mg-edit-remove-link mg-remove-btn" href="javascript:void(0);">Remove</a></span></address>
                                       
                                    </div>
                                </div>
                                <!--Address details section end here-->
                            </div>
                        </div>
                        <!--my account info list details end here-->
                    </div>
                </div>
                <!--account info section end here-->
            </div>
        </div>
        <!--my account content section end here-->
        <!--footer section start here-->
        <footer class="mg-footer-section">
            <div class="container">
                <div class="mg-footer-feature">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="mg-ff-box">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="mg-ff-img">
                                            <img src="assets/images/icons/Footer-truck.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9">
                                        <div class="mg-ff-text">
                                            <h5>Free Shipping</h5>
                                            <p>Lorem ipsum dolor sit amet<br> consectetur.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="mg-ff-box">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="mg-ff-img">
                                            <img src="assets/images/icons/Discount-Footer.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9">
                                        <div class="mg-ff-text">
                                            <h5>Daily Mega Discount</h5>
                                            <p>Lorem ipsum dolor sit amet<br> consectetur.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="mg-ff-box">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="mg-ff-img">
                                            <img src="assets/images/icons/Footer-apple.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9">
                                        <div class="mg-ff-text">
                                            <h5>Daily Fresh Products</h5>
                                            <p>Lorem ipsum dolor sit amet<br> consectetur.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mg-footer-links-main">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="mg-contact-box">
                                <div class="mg-footer-text-section">
                                    <h5>Get In Touch</h5>
                                    <address>
                                        Address:<br>
                                        12 NW 19th Place, Pompano<br> 
                                        Beach, fl, 33063  United States
                                    </address>
                                </div>
                                <div class="mg-footer-contact">
                                    <span>Need Help?</span><br>
                                    <span>Call:</span> <a href="tel:+911234567890">+(1) 234 567 8900</a> <span>|</span> <a href="tel:+911234567890">+(1) 234 567 8900</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            <div class="mg-footer-nav">
                                <h5>Information</h5>
                                <ul class="list-group">
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="mg-footer-nav">
                                <h5>Categories</h5>
                                <ul class="list-group">
                                    <li><a href="shop.html">Fruits & Vegetables</a></li>
                                    <li><a href="shop.html">Dairy & Beverages</a></li>
                                    <li><a href="shop.html">Meats & Seafoods</a></li>
                                    <li><a href="shop.html">Bakery</a></li>
                                    <li><a href="shop.html">Biscuits & Snacks</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="mg-newsletter-box">
                                <h5>Subscribe Newsletter</h5>
                                <p>Lorem ipsum dolor sit amet consectetur. Facilisis.</p>
                                <form class="mg-newsletter-subs">
                                    <input class="form-control" type="text" placeholder="Email Address...">
                                    <button class="btn">
                                        <img src="assets/images/icons/Testimonial-right-arrowd.svg" alt="">
                                    </button>
                                </form>
                                    <ul class="">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <img src="assets/images/icons/fb.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <img src="assets/images/icons/ig.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <img src="assets/images/icons/tw.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <img src="assets/images/icons/yt.svg" alt="">
                                            </a>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mg-footer-bottom">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="mg-footer-logo">
                                <a class="mg-logo text-decoration-none" href="index.html"><span>MG</span> ORGANICS</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="mg-copy-right-text">
                                    <span>Made with <i class="fa-solid fa-heart"></i> By <a href="javascript:void(0)';">MG Technologies.</a></span>
                                </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="mg-fb-text">
                                <a href="privacy-policy.html">Privacy Policy</a> <span>|</span> <a href="javascript:void(0)';">Terms of Conditions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer section end here-->
        <script src="assets/js/mg-menu.js"></script>
        <script src="assets/js/mg-common.js"></script>
        <script src="assets/js/my-account-address.js"></script>
    </body>
</html>